<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/pawel90g/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="pawel90g" />
            <add key="ClearTextPassword" value="43a411b58b7170a2adbc6c24e6dfe40bb38247dd" />
        </github>
    </packageSourceCredentials>
</configuration>